<hr>
<footer>
    <p><a href="#" target="_blank"> Node.js Hello World</a> By Norway 2014</p>
</footer>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/doctor.js"></script>
<script src="/javascripts/jquery.json-2.4.js"></script>
</body>
</html>

