<!DOCTYPE html>
<% include header.ejs %>

<div class="hero-unit">
    <h1>移动医疗-家庭医生</h1>
    <h1>Hello World! </h1>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
    <a class="btn btn-success btn-large " href="/reg">注册</a>
</div>

<% include footer.ejs %>